<app-nav-bar></app-nav-bar>
<!-- <div class="hero-title">
    <h1>Rediscover your<br>natural state of mind</h1>
</div>
<button type="button" class="btn">
    Discover
  </button>
<img src="assets/Home/casual-life-3d-girl-and-boy-sitting-with-tablet.png" alt="" class="hero-image"> -->

<div class="container">
  <div class="row">
    <div class="col col-lg-6">
      <div class="hero-title">
        <h1>Rediscover your<br>natural state of mind</h1>
        <button type="button" class="btn">
          Discover
        </button>
      </div>
    </div>
    <div class="col col-lg-6">
      <img src="assets/Home/casual-life-3d-girl-and-boy-sitting-with-tablet.png" alt="" class="hero-image">
    </div>
  </div>
</div>