<div class="container">
    <div class="row">
        <div class="col col-lg-7">
            <div class="newsletter-title">
                <h3>NEWSLETTER</h3>
                <h1 class="newsletter-text">Get our monthly anxiety-free <br>update in your inbox</h1>
                <div class="newsletter-email-field">
                    <input type="text" class="newsletter-input" placeholder="Enter Your Email"> 
                    <button type="button" class="btn">Subscribe</button>
                </div> 
            </div>
        </div>
    
        <div class="col">
            <img src="assets/Home/casual-life-3d-freelancer-workspace.png" alt="" class="newsletter-image">
        </div>
    </div>
</div>

