<div class="container">
  <img src="assets/logo.png" alt="" class="nav-img">
  <nav class="navbar  navbar-light bg-transparent">
    <!-- <div class="container-fluid d-flex"> -->
          <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" routerLink="/">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/reading">READING</a>
              </li>
              <li class="nav-item less-padding--">
                <a class="nav-link" routerLink="/writing">WRITING</a>
              </li>
              <li class="nav-item last-of-type--">
                  <button type="button" class="btn">
                      Login
                    </button>
                </li>
            </ul>
    <!-- </div> -->
  </nav>
</div>
