<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="writing-title">Let’s Share Some<br>Thoughts</h1>
        </div>
        <div class="col margin-right--">
            <img src="assets/Writing/casual-life-3d-pink-brain.png" alt="" class="writing-image">
        </div>
    </div>
    <div class="row margin-top--">
        <div class="col">
            <h2 class="writing-form-label indent--">Title</h2>
            <input type="text" class="writing-input indent--"> 
        </div>
        <div class="col author-indent--">
            <h2 class="writing-form-label">Author</h2>
            <input type="text" class="writing-input"> 
        </div>
    </div>
    <div class="row margin-top2--">
        <div class="col">
            <h2 class="writing-form-label indent--">Thoughts</h2>
            <input type="text" class="writing-input indent-- input-field--"> 
        </div>
    </div>
    <div class="row margin-top2--">
        <div class="col">
            <h2 class="writing-form-label indent--">Category</h2>
            <input type="text" class="writing-input indent--"> 
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn" routerLink="/submit">Submit Entry ----></button>
        </div>
    </div>
</div>