:host {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.overview {
  text-transform: uppercase;
  font: normal normal normal 18px/27px Poppins;
  color: #173d5a;
  margin-top: 62px;
}

.emotional-title {
  font: normal normal bold 48px/64px Playfair Display;
  color: #173d5a;
  margin-bottom: 60px;
}

.c-quote-- {
  background-color: #f7f5ee;
  border: 8px;
  max-width: 1088px;
  margin-bottom: 97px;
  padding: 0;
}

.t-quote {
  max-width: 964px;
  font: normal normal bold 24px/30px Playfair Display;
  color: #173d5a;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.symbol-quote {
  font: normal normal bold 100px/133px Playfair Display;
  color: #ee72aa;
  max-width: 46px;
  padding: 0;
  margin-left: 32px;
}

.author-quote {
  font: normal normal normal 14px/21px Poppins;
  color: #173d5a;
  text-transform: uppercase;
  margin-left: 94px;
}
