<div class="container">
    <h3>SERVICES</h3>
    <h1>How We Can Help</h1>
    <div class="row">
        <div class="col col-lg-4">
            <img src="assets/Home/turqoise-pic.jpeg" alt="" class="service-img">
        </div>
        <div class="col col-lg-4">
            <img src="assets/Home/turqoise-pic.jpeg" alt="" class="service-img">
        </div>
        <div class="col col-lg-4">
            <img src="assets/Home/turqoise-pic.jpeg" alt="" class="service-img">
        </div>
    </div>
</div>