<div class="container">
    <h1 class="featured-title">Featured Readings</h1>
    <div class="featured-cont"></div>
    <div class="row">
        <div class="col col-lg-4">
            <img src="assets/Home/reading-1.png" alt="" class="featured-img">
            <h2 class="featured-text-b">The Connection Between Sleep and Emotional Regulation</h2>
            <h3 class="featured-text-r">Culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptartem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi ropeior architecto beatae vitae dicta sunt explicabo. Nemo eniem ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eosep quiklop ratione voluptatem sequi nesciunt.</h3>
            <div class="featured-btn">
                <button class="btn btn-link btn-featured--">Read More <fa-icon [icon]="arrowRight"></fa-icon></button>
            </div>
        </div>
        <div class="col col-lg-4">
            <img src="assets/Home/reading-2.png" alt="" class="featured-img">
            <h2 class="featured-text-b">The Connection Between Sleep and Emotional Regulation</h2>
            <h3 class="featured-text-r">Culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptartem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi ropeior architecto beatae vitae dicta sunt explicabo. Nemo eniem ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eosep quiklop ratione voluptatem sequi nesciunt.</h3>
            <div class="featured-btn">
                <button class="btn btn-link btn-featured--">Read More <fa-icon [icon]="arrowRight"></fa-icon></button>
            </div>
        </div>
        <div class="col col-lg-4">
            <img src="assets/Home/reading-3.png" alt="" class="featured-img">
            <h2 class="featured-text-b">The Connection Between Sleep and Emotional Regulation</h2>
            <h3 class="featured-text-r">Culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptartem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi ropeior architecto beatae vitae dicta sunt explicabo. Nemo eniem ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eosep quiklop ratione voluptatem sequi nesciunt.</h3>
            <div class="featured-btn">
                <button class="btn btn-link btn-featured--">Read More <fa-icon [icon]="arrowRight"></fa-icon></button>
            </div>
        </div>
    </div>
</div>
